<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="auto-scroll">
  <ion-list full>
    <ion-list-header>
      <ion-label color="primary" text-center>
        Olho D'água Futebol Clube
      </ion-label>
    </ion-list-header>
    <ion-item full>
      <ion-label>
        <ion-icon size="large" ios="ios-call" md="md-call" color="success"></ion-icon> &nbsp;
        (84) 99428-1968 &nbsp;
        <ion-icon size="large" name="logo-whatsapp" color="success" item-end></ion-icon>
      </ion-label>
    </ion-item >
    <ion-item>
      <ion-label>
        <ion-icon size="large" ios="ios-at" md="md-at" color="danger"></ion-icon> &nbsp;
        sidinaldobarbosa@gmail.com
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>